* @bobgit18, @rabg24   ## Two reviewrs approval also one
# *.js @rabg24
# /docs/ @rapbg24
# docs/* @kevin


# It could be user name like @rabg24,  or team name like @org1/team1  , email like 
# It can't be managed account 



